<mat-grid-list cols="2" rowHeight="1:1" class="mt20">
    <mat-grid-tile>
        <!-- <div class="box">
            <div>
                <button mat-raised-button>Data Science</button>
            </div>
            <div>
                <button class="left" mat-raised-button>AL</button>
                <button class="right" mat-raised-button>ML</button>
            </div>
            <div>
                <button mat-raised-button>Android Web</button>
                <button mat-raised-button>Data Science</button>
            </div>
            <div >
                <button mat-raised-button>Python</button>
                <button mat-raised-button>Java</button>
            </div>
            <div>
                <button mat-raised-button>DSA</button>
            </div>
        </div> -->
        
        <img src="../../../assets/sampleHomeimage.jpg" alt="">
    </mat-grid-tile>
    <mat-grid-tile style="background-color: #f7fbfe; ">
        <div class="box ml20" >
            <h2>Explore Our Courses</h2>
            <p class="mr20">Our courses focus exclusively on in-demand digital technology and insure workplace relevance</p>
            <a href="">Explore</a>
        </div>
    </mat-grid-tile>
    
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="1.5:1" >
    <mat-grid-tile>
        <img src="../../../assets/sampl1.jpg" alt="">
    </mat-grid-tile>
    <mat-grid-tile style="background-color: #f7fbfe;">
        <div class="box ml20" >
            <h2>ABOUT US</h2>
            <p class="mr20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam unde consequatur dignissimos quis. Accusamus sapiente incidunt assumenda debitis magni veritatis! Rerum, distinctio aliquam voluptatem ex dolores minima consequatur autem tenetur.</p>
            <p class="mr20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam unde consequatur dignissimos quis. Accusamus sapiente incidunt assumenda debitis magni veritatis! Rerum, distinctio aliquam voluptatem ex dolores minima consequatur autem tenetur.</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: #f7fbfe;">
        <div class="box ml20" >
            <h2>Why LinkCode ?</h2>
            <p class="mr20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam unde consequatur dignissimos quis. Accusamus sapiente incidunt assumenda debitis magni veritatis! Rerum, distinctio aliquam voluptatem ex dolores minima consequatur autem tenetur.</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../../assets/sampl3.jpg" alt="">
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="3" rowHeight="1:1" style="background-color: #6fcfff;" >
    <h2 class="text-center  mt20">TESTIMONIALS</h2>
    <p class="text-center" >We are very proud the reputation we've built</p>
    <mat-grid-tile class="ml20">
        <mat-card class="example-card">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
          </mat-card>
          
    </mat-grid-tile>
    <mat-grid-tile class="ml20">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
    <mat-grid-tile class="ml20">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          
    </mat-grid-tile>
  </mat-grid-list>
