<mat-grid-list cols="2" rowHeight="1:1" class="mt20">
    <mat-grid-tile>
        <!-- <div class="box">
            <div>
                <button mat-raised-button>Data Science</button>
            </div>
            <div>
                <button class="left" mat-raised-button>AL</button>
                <button class="right" mat-raised-button>ML</button>
            </div>
            <div>
                <button mat-raised-button>Android Web</button>
                <button mat-raised-button>Data Science</button>
            </div>
            <div >
                <button mat-raised-button>Python</button>
                <button mat-raised-button>Java</button>
            </div>
            <div>
                <button mat-raised-button>DSA</button>
            </div>
        </div> -->
        
        <img src="../../../assets/sampleHomeimage.jpg" alt="">
    </mat-grid-tile>
    <mat-grid-tile style="background-color: #f7fbfe; ">
        <div class="box ml20" >
            <h2>Explore Our Courses</h2>
            <p class="mr20">Our courses focus exclusively on in-demand digital technology and insure workplace relevance</p>
            <a href="">Explore</a>
        </div>
    </mat-grid-tile>
    
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="1.5:1" >
    <mat-grid-tile>
        <img src="../../../assets/sampl1.jpg" alt="">
    </mat-grid-tile>
    <mat-grid-tile style="background-color: #f7fbfe;">
        <div class="box ml20" >
            <h2>ABOUT US</h2>
            <p class="mr20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam unde consequatur dignissimos quis. Accusamus sapiente incidunt assumenda debitis magni veritatis! Rerum, distinctio aliquam voluptatem ex dolores minima consequatur autem tenetur.</p>
            <p class="mr20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam unde consequatur dignissimos quis. Accusamus sapiente incidunt assumenda debitis magni veritatis! Rerum, distinctio aliquam voluptatem ex dolores minima consequatur autem tenetur.</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile style="background-color: #f7fbfe;">
        <div class="box ml20" >
            <h2>Why LinkCode ?</h2>
            <p class="mr20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam unde consequatur dignissimos quis. Accusamus sapiente incidunt assumenda debitis magni veritatis! Rerum, distinctio aliquam voluptatem ex dolores minima consequatur autem tenetur.</p>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <img src="../../../assets/sampl3.jpg" alt="">
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="3" style="background: linear-gradient(#00a1fb,#fff),
  url(../../../assets/sample4.png ) no-repeat top center">
    <h2 class="text-center pt20">TESTIMONIALS</h2>
        <p class="text-center">We are very proud of the reputation we will build</p>
    <mat-grid-tile>
        <figure class="snip1336">
            <figcaption class="text-center">
              <img class="center"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDkUToDp1zUN3DJkC5DsLRMAhV9FmKSH18bWpmwvM38g&s" alt="">
              <h2>Hans Down<span>Engineer</span></h2>
              <p>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine target. Can you suggest something? Hello...? </p>
            </figcaption>
          </figure>
    </mat-grid-tile>
    <mat-grid-tile>
        <figure class="snip1336">
            <figcaption class="text-center">
                <img class="center" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDkUToDp1zUN3DJkC5DsLRMAhV9FmKSH18bWpmwvM38g&s" alt="">
                <h2>Hans Down<span>Engineer</span></h2>
                <p>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine target. Can you suggest something? Hello...? </p>
              </figcaption>
          </figure>
    </mat-grid-tile>
    <mat-grid-tile>
        <figure class="snip1336">
            <figcaption class="text-center">
                <img class="center" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDkUToDp1zUN3DJkC5DsLRMAhV9FmKSH18bWpmwvM38g&s" alt="">
                <h2>Hans Down<span>Engineer</span></h2>
                <p>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine target. Can you suggest something? Hello...? </p>
              </figcaption>
          </figure>
    </mat-grid-tile>
  </mat-grid-list>


  <mat-grid-list cols="5" class="ml20 mr20">
    <h2 class="text-center pt20">INDUSTRIAL TRAINING</h2>
    <mat-grid-tile>
        <mat-card class="module">
            <div class="center pt20">
                <div mat-card-avatar class="example-header-image"></div>
            </div>
            <mat-card-content>
                module 1
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="module">
            <div class="center pt20">
                <div mat-card-avatar class="example-header-image"></div>
            </div>
            <mat-card-content>
                module 1
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="module">
            <div class="center pt20">
                <div mat-card-avatar class="example-header-image"></div>
            </div>
            <mat-card-content>
                module 1
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div class="center pt20">
                <div mat-card-avatar class="example-header-image"></div>
            </div>
            <mat-card-content>
                module 1
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <div class="center pt20">
                <div mat-card-avatar class="example-header-image"></div>
            </div>
            <mat-card-content>
                module 1
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- <mat-grid-list class="hidd">
    <mat-card>
        Hello
    </mat-card>
  </mat-grid-list> -->